@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@1,300&display=swap");
:root {
  --light-mode: rgb(243, 226, 226);
  --light-header: rgb(209, 193, 193);
  --light-header-font-color: black;
  --light-wrong: rgb(107, 98, 98);
  --light-back-letters: rgb(255, 255, 255);
  --light-shadow: rgb(124, 114, 114);
  --light-used: rgb(47, 87, 119);

  --dark-mode: rgb(44, 44, 44);
  --dark-header: rgb(68, 68, 68);
  --dark-header-font-color: rgb(255, 255, 255);
  --dark-shadow: rgb(46, 46, 46);

  --background-color: var(--light-mode);
  --header: var(--light-header);
  --wrong: var(--light-wrong);
  --back-letters: var(--light-back-letters);
  --shadow: var(--light-shadow);
  --used: var(--light-used);
  --header-font-color: var(--light-header-font-color);
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-color);
}
.hidden {
  display: none;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: greenyellow;
}
.gray {
  background-color: var(--wrong);
  color: var(--header-font-color);
}
.used {
  background-color: var(--used);
}
.default {
  background-color: white;
}

.styling {
  width: 4vw;
  max-width: 60px;
  height: 6vh;
  max-height: 70px;
  font-size: 4vh;
  text-align: center;
  /* background: var(--back-letters); */
}
.key {
  font-family: "Raleway", sans-serif;
  border: 1px solid var(--header-font-color);
  color: var(--header-font-color);
  background-color: var(--header);
  padding: 15px;
  margin-bottom: 2px;
  margin-left: 3px;
}
.fail {
  position: absolute;
  border: 2px solid black;
  top: 50%;
  left: 40%;
  border-radius: 5px;
  background-color: red;
  height: 40px;
  text-align: center;
  padding: 5px;
  width: 20vw;
  color: rgb(255, 255, 255);
  transition: 1s;
  display: none;
  opacity: 0;
}
.keyboard {
  display: flex;
  justify-content: space-evenly;
  width: 20vw;
  text-align: center;
}
.settings-modal {
  position: absolute;
  top: 30vh;
  left: calc(46vw - 10%);
  overflow: hidden;
  border-radius: 10px;
  max-height: 80%;
  width: 30%;
  max-width: 450px;
  /* margin-top: 0px; */
  padding: 10px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  background-color: var(--header);
  color: var(--header-font-color);
  /* font-size: 1.05vw; */
}

.again-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  display: none;
}
.again {
  width: 200px;
  max-width: 250px;
  font-family: "Victor Mono", monospace;
}
input {
  font-family: "Raleway", sans-serif;
}
/* input[type="text"] {
  text-transform: lowercase;
} */
.div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 5px;
}

.modal {
  position: absolute;
  top: 30vh;
  left: 46vw;
  overflow: hidden;
  border-radius: 10px;
  height: 20%;
  font-family: "Raleway", sans-serif;
  background-color: var(--header);
  color: var(--header-font-color);
}
.modal::backdrop {
  background-color: #b8bfc4b9;
}

a {
  color: var(--header-font-color);
}
.settings-modal::backdrop {
  background-color: #b8bfc4b9;
}
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}
.header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  background-color: var(--header);
  color: var(--header-font-color);
  height: 8vh;
  text-align: center;
  font-family: "Raleway", sans-serif;
  padding-bottom: 5px;
  margin-bottom: 10vh;
  box-shadow: 10px 10px 5px var(--shadow);
}
.definition {
  max-width: 500px;
  font-size: 16px;
  font-family: "Lora", serif;
  color: var(--header-font-color);
}
.icons {
  display: flex;
  flex-direction: row-reverse;
  font-size: 34px;
  margin-right: 1%;
}
.dark-mode {
  display: block;
  margin-right: 10%;
}
.light-mode {
  display: none;
  opacity: 0;
  margin-right: 10%;
}
.settings {
  display: block;
  font-size: 34px;
  margin-left: 40%;
}
.help-modal {
  position: absolute;
  top: calc(30vh - 100px);
  left: calc(44vw - 142px);
  overflow: hidden;
  border-radius: 10px;
  max-height: 80%;
  max-width: 450px;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  text-align: center;
  background-color: var(--header);
  color: var(--header-font-color);
}

.help-modal::backdrop {
  background-color: #b8bfc4b9;
}
.styling-in-help {
  width: 50px;
  height: 50px;
  font-size: 36px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.close {
  position: absolute;
  left: 10px;
  cursor: pointer;
}
i {
  cursor: pointer;
}
.guesses {
  color: var(--header-font-color);
  font-family: "Raleway", sans-serif;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.settings-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  align-items: center;
}
.settings-icons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  margin-left: 10%;
}
@media (max-width: 600px) {
  .styling {
    width: 10vw;
    max-width: 200px;
    height: 6vh;
    max-height: 70px;
    font-size: 4vh;
    text-align: center;
  }
  .key {
    font-family: "Raleway", sans-serif;
    border: 1px solid var(--header-font-color);
    color: var(--header-font-color);
    background-color: var(--header);
    padding: 8px;
    margin-bottom: 2px;
    /* margin-left: 3px; */
  }
  .keyboard {
    display: flex;
    justify-content: space-evenly;
    width: 45vw;
    text-align: center;
  }
  .fail {
    position: absolute;
    border: 2px solid black;
    top: 30%;
    left: 35%;
    border-radius: 5px;
    background-color: red;
    height: 10vh;
    text-align: center;
    padding: 5px;
    width: 30vw;
    color: rgb(255, 255, 255);
    transition: 1s;
    display: none;
    opacity: 0;
  }
  .settings-modal {
    width: 70%;
    left: calc(35vw - 20%);
  }
  .modal {
    position: absolute;
    top: 30vh;
    left: 30vw;
    overflow: hidden;
    border-radius: 10px;
    height: 20%;
    font-family: "Raleway", sans-serif;
    background-color: var(--header);
    color: var(--header-font-color);
  }
}
.container-keyboard {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 15px;
}
.rotate {
  display: none;
}
@media (max-height: 600px) {
  .styling {
    width: 7vw;
    max-width: 200px;
    height: 8vh;
    max-height: 70px;
    font-size: 6vh;
    text-align: center;
  }
  .container-keyboard {
    display: none;
  }
  .rotate {
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
  }
}
